<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
    <title>Policyholders</title>
</head>
<body>
<div th:switch="${policyholders}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Выбор клиентов</h2>
        <table>
            <thead>
            <tr>
                <!--<th>id</th>-->
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Отчество</th>
                <th>Дата рождения</th>
                <th>Паспортные данные</th>
                <!--<th>change</th>-->
            </tr>
            </thead>
            <tbody>
            <tr th:each="policyholder : ${policyholders}">
                <!--<td th:text="${policyholder.id}"></td>-->
                <td th:text="${policyholder.name}"></td>
                <td th:text="${policyholder.surname}"></td>
                <td th:text="${policyholder.patronymic}"></td>
                <td th:text="${policyholder.birth_date}"></td>
                <td th:text="${policyholder.passport_series}"></td>
<!--                <td th:text="${policyholder.passport_number}"></td>-->
                <td><a th:href="@{user-update/{id}(id=${policyholder.id})}">Изменить</a></td>
                <!--<td><a th:href="@{user-delete/{id}(id=${policyholder.id})}">Удалить </a></td>-->
            </tr>
            </tbody>
        </table>
    </div>
    <p>
    <form action="/policyholder-create">
        <button type="submit">Новый клиент</button>
    </form>
    </p>
</div>
</body>
</html>