<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create calculation</title>
</head>
<body>
<form
        action="#" th:action="@{/calculation}" th:object="${calculation}" method="post">

    <p>
        <label for="insurance_amount">Страховая сумма</label>
        <input type="text" th:field="*{insurance_amount}" id="insurance_amount" placeholder="Страховая сумма">
        <label for="validity_period_from">Срок действия с</label>
        <input type="date" th:field="*{validity_period_from}" id="validity_period_from">
        <label for="validity_period_to">По</label>
        <input type="date" th:field="*{validity_period_to}" id="validity_period_to">
    </p>
    <p>
<!--        <label for="propertyType">Тип недвижимости</label>-->
<!--        <input type="text" th:field="*{propertyType}" id="propertyType" placeholder="Отчество">-->
        <div class="dropdown">
            <div class="title">Тип недвижимости</div>
            <ul>
                <li>Квартира</li>
                <li>Дом</li>
                <li>Комната</li>
            </ul>
        </div>
    </p>
    <p>
        <label for="year_of_construction">Год постройки</label>
        <input type="text" th:field="*{year_of_construction}" id="year_of_construction" placeholder="Дата рожения">
    </p>
    <p>
        <label for="area">Площадь</label>
        <input type="text" th:field="*{area}" id="area" placeholder="Площадь">
    </p>
    <p>
    <form action="/policyholders">
        <input type="button" value="Рассчитать">
    </form>
    </p>
</form>
</body>
</html>