<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
    <title>Contracts</title>
</head>
<body>
<div th:switch="${contracts}">
    <h2 th:case="null">No contracts found!</h2>
    <p>
    <form action="#" th:action="@{/contract-create}" th:object="${dto}" method="get">
        <button type="submit">Создать договор</button>
    </form>
    </p>
    <div th:case="*">
        <table>
            <thead>
            <tr>
                <th>Серия - Номер</th>
                <th>Дата заключения</th>
                <th>Страхователь</th>
                <th>Премия</th>
                <th>Срок действия</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dto : ${contracts}">
                <td th:text="${dto.contract.contractNumber}"></td>
                <td th:text="${dto.calculation.validityPeriodFrom}"></td>
                <td th:text="${dto.user}"></td>
                <td th:text="${dto.calculation.prize}"></td>
                <td th:text="${dto.contract.dateOfConclusion}"></td>
                <td><a th:href="@{contract-create/{contractNumber}(contractNumber=${dto.contract.contractNumber})}">Открыть договор</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
