<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>policyholders</title>
</head>
<body>
<div th:switch="${policyholders}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Выбор клиентов</h2>
        <table>
            <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Отчество</th>
                <th>Дата рождения</th>
                <th>Паспортные данные</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="policyholder : ${policyholders}">
                <td th:text="${policyholder.name}"></td>
                <td th:text="${policyholder.surname}"></td>
                <td th:text="${policyholder.patronymic}"></td>
                <td th:text="${policyholder.birth_date}"></td>
                <td th:text="${policyholder.passport}"></td>
                <td><a th:href="@{policyholder-update/{id}(id=${policyholder.id})}">Изменить</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p>
    <form action="#" th:action="@{/policyholder-update}" th:object="${policyholder}" method="get">
        <button type="submit">Новый клиент</button>
    </form>
    </p>
</div>
</body>
</html>