<!--
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
    <title>Contracts</title>
</head>
<body>
<div th:switch="${policyholders}">
    <h2 th:case="null">No contracts found!</h2>
    <p>
    <form action="/policyholder-create">
        <button type="submit">Новый клиент</button>
    </form>
    </p>
    <div th:case="*">
        <table>
            <thead>
            <tr>
                <th>Серия - Номер</th>
                <th>Дата заключения</th>
                <th>Страхователь</th>
                <th>Премия</th>
                <th>Срок действия</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="policyholder : ${policyholders}">
                &lt;!&ndash;<td th:text="${policyholder.id}"></td>&ndash;&gt;
                <td th:text="${policyholder.name}"></td>
                <td th:text="${policyholder.surname}"></td>
                <td th:text="${policyholder.patronymic}"></td>
                <td th:text="${policyholder.birth_date}"></td>
                <td th:text="${policyholder.passport_series}"></td>
                &lt;!&ndash;                <td th:text="${policyholder.passport_number}"></td>&ndash;&gt;
                <td><a th:href="@{user-update/{id}(id=${policyholder.id})}">Изменить</a></td>
                &lt;!&ndash;<td><a th:href="@{user-delete/{id}(id=${policyholder.id})}">Удалить </a></td>&ndash;&gt;
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>-->
